/* -- Fondo -------------------------------------------------------------------------------- */

/* body {
  background: rgb(2, 0, 36);
  background: linear-gradient(200deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 36%, rgba(132, 0, 255, 1) 100%);
  
  position: relative;
  background-image: url(/src/media/BG1.jpg);
  background-repeat:no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  background-position: center top;

  @media screen and (max-width: 767px) {
    height: 100%;
    overflow-y: auto;
}
} */

html {
  background-color: #000000;

  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

html::-webkit-scrollbar {
  display: none;
}

body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url(/src/media/BG3.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: contrast(130%) brightness(90%);
}


/* -- Cabecera ----------------------------------------------------------------------------- */
.banner {
  border: 1px solid #A791FF;
  border-radius: 8px;
  box-sizing: border-box;
  margin: 10px;
  background-color: rgba(20, 8, 48, 0.537);
  backdrop-filter: blur(5px);
}

.banner ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.banner li {
  display: inline;
  float: left;
  text-align: center;
}

/* .banner li label {
  display: block;
  color: violet;
  text-shadow: 2px 2px 15px violet;
  font-family: alienfont;
  font-size: 25px;
  text-align: center;
  padding: 20px 31px;
  transition-duration: 0.2s;
  overflow: hidden;
  user-select: none;
}

.banner .mots {
  transition-duration: 0.2s;
}

.banner .gen {
  transition-duration: 0.2s;
}

.banner li label:hover .mots {
  color: white;
  text-shadow: 0px 0px 10px rgb(255, 255, 255);
  filter: brightness(120%);
}

.banner label:hover .gen {
  background-image: linear-gradient(90deg,
      rgba(255, 0, 0, 1) 0%,
      rgba(255, 154, 0, 1) 10%,
      rgba(208, 222, 33, 1) 20%,
      rgba(79, 220, 74, 1) 30%,
      rgba(63, 218, 216, 1) 40%,
      rgba(47, 201, 226, 1) 50%,
      rgba(28, 127, 238, 1) 60%,
      rgba(95, 21, 242, 1) 70%,
      rgba(186, 12, 248, 1) 80%,
      rgba(251, 7, 217, 1) 90%,
      rgba(255, 0, 0, 1) 100%);
  background-clip: text;
  color: transparent;
  text-shadow: 0px 0px 10px rgb(230, 0, 255);
  filter: brightness(120%);
} */

.banner li label {
  display: block;
  color: rgb(255, 255, 255);
  /* text-shadow: 2px 2px 15px rgb(255, 255, 255); */
  font-family: alienfont;
  font-size: 25px;
  text-align: center;
  padding: 20px 31px;
  transition-duration: 0.2s;
  overflow: hidden;
  user-select: none;
}

.banner .mots {
  transition-duration: 0.2s;
}

.banner .gen {
  background-image: linear-gradient(90deg,
      rgba(255, 0, 0, 1) 0%,
      rgba(255, 154, 0, 1) 10%,
      rgba(208, 222, 33, 1) 20%,
      rgba(79, 220, 74, 1) 30%,
      rgba(63, 218, 216, 1) 40%,
      rgba(47, 201, 226, 1) 50%,
      rgba(28, 127, 238, 1) 60%,
      rgba(95, 21, 242, 1) 70%,
      rgba(186, 12, 248, 1) 80%,
      rgba(251, 7, 217, 1) 90%,
      rgba(255, 0, 0, 1) 100%);
  background-clip: text;
  color: transparent;
  filter: brightness(140%);
  transition-duration: 0.2s;
}

.banner li label:hover .mots {
  color: white;
  text-shadow: 0px 0px 10px rgb(255, 255, 255);
  filter: brightness(150%);
}

.banner label:hover .gen {
  text-shadow: 0px 0px 10px rgb(255, 77, 211);
  filter: brightness(150%);
}

.banner .engranaje {
  display: block;
  color: violet;
  text-shadow: 2px 2px 15px violet;
  font-family: alienfont;
  font-size: 35px;
  text-align: center;
  padding: 10px 25px;
  text-decoration: none;
  transition-duration: 0.2s;
  overflow: hidden;
  user-select: none;
  cursor: pointer;
}

.banner .engranaje:hover {
  color: white;
  text-shadow: 0px 0px 10px rgb(255, 255, 255);
  filter: brightness(120%);
}

/* .banner button {
  float: right;
  display: block;
  color: rgba(255, 255, 255, 0);
  background-color: rgba(0, 0, 0, 0);
  border-radius: 4px;
  border: none;
  font-family: alienfont;
  text-align: center;
  transition-duration: 0.2s;
  height: 30px;

  background-image: url(/src/media/IDIOMA1.png);
  background-size: 55px;
  background-repeat: no-repeat;
  background-position: center;
  user-select: none;
} */

/* .banner button:hover {
  background-color: rgb(241, 50, 241);
  box-shadow: 0px 0px 10px rgb(241, 50, 241);

  background-image: url(/src/media/IDIOMA2.png);
  background-size: 60px;
  background-repeat: no-repeat;
  background-position: center;
} */

/* .banner button:active {
  color: rgba(255, 255, 255, 0);
  background-color: rgb(0, 0, 0);
  transition-duration: 0.01s;
} */


/* -- Pie de página ------------------------------------------------------------------------ */
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer {
  flex: 1;

  color: violet;
  font-family: alienfont;
  text-align: left;
  font-size: 9px;
  margin: 10px;

  justify-content: center;

  position: fixed;
  bottom: 0;
  width: 97%;

  box-sizing: border-box;
  border: 1px solid #A791FF;
  border-radius: 30px;

  background-color: rgba(20, 8, 48, 0.537);
  backdrop-filter: blur(5px);
  padding-left: 15px;
  user-select: none;
}


/* -- Enlaces ------------------------------------------------------------------------------ */
.link {
  color: violet;
  text-decoration: none;
  transition-duration: 0.2s;
  cursor: pointer;
}

.link:hover {
  color: white;
  text-shadow: 1px 1px 10px white;
}

.link:focus {
  color: #A791FF;
}

.link:active {
  color: #A791FF;
}


/* -- Contenedor de cajas -------------------------------------------------------------- */
.contenedor {
  /* border: 1px solid white; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
  margin: 30px 0px 60px 0px;
}

.texto-caja {
  width: 450px;
  height: 450px;
  border: 1px solid #A791FF;
  box-shadow: 0px 0px 20px #a791ffb6;
  margin: 20px;
  box-sizing: border-box;
  transition-duration: 0.2s;
}

.generador-caja {
  width: 450px;
  height: 450px;
  border: 1px solid #A791FF;
  box-sizing: border-box;
  border-radius: 8px;
  margin: 20px;
  background-color: rgba(20, 8, 48, 0.537);
  backdrop-filter: blur(5px);
}

/* @media screen and (max-width:1200px) {
  .box {
    width: 40%;
  }
}

@media screen and (max-width:600px) {
  .box {
    width: 90%;
  }
} */


/* -- Ajustes ------------------------------------------------------------------------------ */
.ajustes-caja {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ajustes-caja input {
  font-family: alienfont;
  font-size: 20px;
  background-color: black;
  color: violet;

  border-color: #A791FF;
  border-radius: 5px;

  height: 30px;
  flex: 1;
  width: 88%;
  margin: 5% 5% 0% 5%;
}

.ajustes-caja select {
  font-family: alienfont;
  font-size: 18px;
  background-color: black;
  color: rgb(200, 202, 255);
  border-color: #A791FF;
  border-radius: 5px;
  height: 30px;
  width: 90%;
  margin: 0% 5% 0% 5%;
  user-select: none;
}

.ajustes-caja select option:checked {
  background-color: #C40097;
  color: white;
}

.ajustes-caja p {
  width: 90%;
  font-family: alienfont;
  color: white;
  font-size: 18px;
  margin: 4% 5% 4% 5%;
  user-select: none;
}

.radiobuttons {
  display: flex;
  width: 90%;
}

.radiolabel {
  width: 50%;
  display: flex;
}

.ajustes-caja label {
  font-family: alienfont;
  color: rgb(200, 202, 255);
  font-size: 18px;
  margin: 0% 5% 0% 5%;
  user-select: none;
  vertical-align: middle;
  overflow: hidden;
  cursor: pointer;
}

input[type="radio"] {
  display: block;
  margin-top: 3px;
  margin-left: 0px;
  height: 18px;
  accent-color: rgb(241, 50, 241);
  cursor: pointer;
}


/* -- Botones ------------------------------------------------------------------------------ */
.botones-mini {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.boton-1 {
  flex: 1;
  color: white;
  font-family: alienfont;
  background-color: #C40097;
  border: 1px solid violet;
  border-radius: 5px;
  font-size: 18px;
  height: 30px;
  margin: 0% 2.5% 0% 5%;
  padding: 0%;
  transition-duration: 0.2s;
  overflow: hidden;
  user-select: none;
  cursor: pointer;
}

.boton-1:hover {
  background-color: rgb(241, 50, 241);
  background-image: linear-gradient(90deg,
      rgba(255, 0, 0, 1) 0%,
      rgba(255, 154, 0, 1) 10%,
      rgba(208, 222, 33, 1) 20%,
      rgba(79, 220, 74, 1) 30%,
      rgba(63, 218, 216, 1) 40%,
      rgba(47, 201, 226, 1) 50%,
      rgba(28, 127, 238, 1) 60%,
      rgba(95, 21, 242, 1) 70%,
      rgba(186, 12, 248, 1) 80%,
      rgba(251, 7, 217, 1) 90%,
      rgba(255, 0, 0, 1) 100%);
  box-shadow: 0px 0px 10px rgb(241, 50, 241);
}

.boton-1:active {
  color: rgb(0, 0, 0);
}

.boton-2 {
  flex: 1;
  color: white;
  font-family: alienfont;
  background-color: #C40097;
  border: 1px solid violet;
  border-radius: 5px;
  font-size: 18px;
  height: 30px;
  margin: 0% 5% 0% 2.5%;
  padding: 0%;
  transition-duration: 0.2s;
  overflow: hidden;
  user-select: none;
  cursor: pointer;
}

.boton-2:hover {
  background-color: rgb(241, 50, 50);
  box-shadow: 0px 0px 10px rgb(241, 50, 123);
}

.boton-2:active {
  color: white;
  background-color: rgb(0, 0, 0);
}

.boton-guardar {
  color: white;
  font-family: alienfont;
  background-color: #C40097;
  border: 1px solid violet;
  border-radius: 5px;
  font-size: 18px;
  height: 80px;
  width: 90%;
  margin: 5% 5% 5% 5%;
  padding: 0%;
  transition-duration: 0.2s;
  overflow: hidden;
  user-select: none;
  cursor: pointer;
}

.boton-guardar:hover {
  background-color: rgb(241, 50, 241);
  box-shadow: 0px 0px 10px rgb(241, 50, 241);
}

.boton-guardar:active {
  color: white;
  background-color: rgb(0, 0, 0);
}


/* .a {
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(94, 134, 1) 100%);
} */

/* -- Texto principal ---------------------------------------------------------------------- */
.texto-principal {
  background: rgb(2, 0, 36);
  background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(2, 2, 135, 1) 100%);
  backdrop-filter: blur(8px);

  width: 100%;
  height: 100%;
  object-fit: cover;

  font-family: kaotican;
  font-size: 50px;
  text-align: center;
  color: violet;
  text-shadow: 0px 0px 20px violet, 2px 2px 10px rgba(0, 0, 0, 0.515);
  filter: brightness(110%);

  display: flex;
  justify-content: center;
  align-items: center;

  white-space: pre-wrap;
  hyphens: none;
  word-break: break-word;
  word-wrap: normal;
  overflow: hidden;
  user-select: none;
}


/* -- Lenguaje ----------------------------------------------------------------------------- */
.idiomas {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 530px;
}

.boton-idioma {
  font-family: alienfont;
  color: white;
  background-color: rgba(20, 8, 48, 0.537);
  backdrop-filter: blur(8px);
  border: 1px solid violet;
  border-radius: 5px;
  font-size: 40px;
  text-align: center;
  transition-duration: 0.2s;
  width: 50%;
  height: 80px;
  margin: 20px;
  padding: 0%;
  overflow: hidden;
  user-select: none;
  cursor: pointer;
}

.boton-idioma:hover {
  background-color: rgb(241, 50, 241);
  box-shadow: 0px 0px 10px rgb(241, 50, 241);
}

.boton-idioma:active {
  color: white;
  background-color: rgb(0, 0, 0);
  transition-duration: 0.01s;
}


/* -- Advertencia -------------------------------------------------------------------------- */
/* .advertencia {
  color: white;
  font-family: alienfont;
  font-size: 15px;
  border: 1px solid red;
  border-radius: 8px;
  background-color: rgba(228, 87, 146, 0.342);
  backdrop-filter: blur(8px);

  margin: 0% 4%;
  padding: 10px;
} */

/* .espacio {
  width: 100%;
  height: 70px;
} */


/* -- Sobre la app ------------------------------------------------------------------------- */
h2 {
  color: violet;
  font-family: alienfont;
  font-size: 20px;
  margin: 0px;
}

.informacion {
  margin: 50px 10px;
  border: 1px solid #A791FF;
  border-radius: 8px;
  padding: 20px;
  background-color: rgba(20, 8, 48, 0.537);
  backdrop-filter: blur(5px);
  user-select: none;
}

.informacion p {
  color: white;
  font-family: alienfont;
  font-size: 20px;
}

.informacion a {
  color: #e99aff;
  transition-duration: 0.2s;
}

.informacion a:hover {
  color: #f7d9ff;
}

.informacion a:active {
  color: #d94fff;
}

.atras {
  color: white;
  background-color: #C40097;
  border: 1px solid violet;
  border-radius: 5px;
  font-size: 20px;
  font-family: alienfont;
  transition-duration: 0.2s;
  padding: 8px 8px;
  user-select: none;
  cursor: pointer;
}

.atras:hover {
  color: white;
  background-color: rgb(241, 50, 241);
  box-shadow: 0px 0px 10px rgb(241, 50, 241);
}

.atras:active {
  color: white;
  background-color: rgb(0, 0, 0);
  transition-duration: 0.01s;
}