.contenedor-scroll {
    max-width: 100%;
    overflow: hidden;
}

.scroll {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: scroll 100s linear infinite;
    -webkit-animation: scroll 100s linear infinite;
}

.scroll p {
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 12px;
    font-size: 30px;
    font-family: alienfont;
    display: inline-block;
    color: white;
    user-select: none;
}

@keyframes scroll {
    0% {
        transform: translateX(2%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translateX(2%);
    }

    100% {
        -webkit-transform: translateX(-100%);
    }
}